PORT=3000
NODE_ENV=production
DATABASE_URL="postgresql://passkeeper:YOUR_DB_PASSWORD@db:5432/passkeeper_db?schema=public"
JWT_SECRET="CHANGE_ME_RANDOM_LONG_STRING_FOR_JWT"
VAULT_MASTER_KEY="CHANGE_ME_32_BYTE_HEX_OR_STRONG_SECRET_FOR_VAULT"
TUNNEL_TOKEN="YOUR_CLOUDFLARE_TUNNEL_TOKEN"
